@charset "utf-8";

/* En kommentar */
body{
  background-color: #e2f9f9;
  font-family: sans-serif;
  /* Sans-serif för att det är lättare att läsa på bildskärm. */
}
h1{
  color: #009999;
  font-size: 20px;
  border-bottom: 2px solid #333333;
}
h2{
  color: #009999;
  font-size: 1em;
}
/* Denna regel gäller för flera olika element */
h2, p, img{
  margin-left: 120px;
}
a:link{
  color: red;
}
a:visited{
  color: green;
}
a:active{
  color: blue;
}